---
import Root from "../../layouts/Root.astro";
---

<Root
  title="Klauzula informacyjna RODO"
  description="Gabinet weterynaryjny dla małych zwierząt w dzielnicy Warszawa - Bielany - pomiędzy stacjami metra: Marymont i Słodowiec. Prowadzimy sprzedaż akcesoriów dla zwierząt, karm, żwirków. W dziale Aktualności znajdują się porady lekarza weterynarii dla właścicieli."
>
  <article>
    <h1>Klauzula informacyjna RODO</h1>
    <p>
      <strong>RODO</strong>- Rozporządzenie Parlamentu Europejskiego i Rady (UE)
      2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w
      związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu
      takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o
      ochronie danych). Nadrzędnym celem klauzuli oraz działań informacyjnych
      Administratora Danych Osobowych jest zapewnienie adekwatnego poziomu
      ochrony klientów, w związku z przetwarzaniem ich danych osobowych.
      Przetwarzanie danych osobowych: zgodnie z treścią art. 4 ust. 2 RODO, za
      przetwarzanie danych osobowych należy rozumieć operację lub zestaw
      operacji wykonywanych na danych osobowych lub zestawach danych osobowych w
      sposób zautomatyzowany lub niezautomatyzowany, taką jak zbieranie,
      utrwalanie, organizowanie, porządkowanie, przechowywanie, adaptowanie lub
      modyfikowanie, pobieranie, przeglądanie, wykorzystywanie, ujawnianie
      poprzez przesłanie, rozpowszechnianie lub innego rodzaju udostępnianie,
      dopasowywanie lub łączenie, ograniczanie, usuwanie lub niszczenie.
    </p>
    <p><strong>Administrator Danych Osobowych</strong></p>
    <p>
      Administratorem Pani/Pana danych osobowych jest Gabinet Weterynaryjny
      REKSIO Agnieszka Lubowiecka z siedzibą przy ul. Gąbińskiej 24 lok.3 ,
      01-703 Warszawa NIP: 669 239 34 08 adres poczty elektronicznej:
      kontakt@reksio-wet.pl
    </p>
    <p>
      Dane kontaktowe Administratora Danych Osobowych: Właściciel firmy:
      Agnieszka Lubowiecka
      <a href="mailto:kontakt@reksoi-wet.pl"> kontakt@reksio-wet.pl</a>
    </p>

    <p>
      Cel i podstawa prawna przetwarzania Pani/Pana danych osobowych przez
      Gabinet Weterynaryjny REKSIO.
    </p>
    <p>
      Przetwarzanie Pani/Pana danych osobowych będzie się odbywać na podstawie
      art. 6 RODO w celu kontaktu i przygotowania oferty .
    </p>

    <p>
      <strong>
        Dane będą wykorzystane w celu niezbędnym do wykonania umowy zawartej z
        Panią/Panem, w tym do:
      </strong>
    </p>
    <ul>
      <li>umożliwienia świadczenia usług weterynaryjnych dla zwierząt;</li>
      <li>prowadzenia dokumentacji medycznej zwierzęcia;</li>
      <li>
        zlecania badań w laboratoriach zewnętrznych, z którymi Gabinet
        Weterynaryjny REKSIO współpracuje;
      </li>
      <li>
        przekazywaniu informacji do Powiatowego Inspektoratu Weterynaryjnego w
        Warszawie o zwierzętach zaszczepionych przeciwko wściekliźnie – jeśli
        dotyczy;
      </li>
      <li>
        przekazywaniu informacji do nadzoru farmaceutycznego – jeśli dotyczy;
      </li>
      <li>
        przekazywaniu informacji do systemów zajmujących się ewidencją
        zaczipowanych zwierząt – jeśli dotyczy;
      </li>
      <li>
        przekazywaniu informacji do systemu paszportowego zwierząt wetsystems –
        jeśli dotyczy;
      </li>
      <li>reklamacji w przypadku, gdy złoży Pani/Pan taką reklamację;</li>
      <li>obsługi zamówień, które Pani/Pan do nas kieruje;</li>
      <li>
        kontaktowania się z Panią/Panem, w tym w celach związanych ze
        świadczeniem usług;
      </li>
    </ul>
    <p>
      <strong
        >Dane osobowe Pani/Pana będą przetwarzane przez Gabinet Weterynaryjny
        REKSIO także w celu:
      </strong>
    </p>
    <ul>
      <li>
        wykonania lub kontynuacji usług weterynaryjnych oferowanych przez
        Administratorawykonania ciążących na Administratorze obowiązków prawnych
        (w szczególności: prowadzenia odpowiedniej dokumentacji weterynaryjnej,
        wystawiania i przechowywania faktur/dokumentów sprzedaży i innych
        dokumentów księgowych, rozpatrywania reklamacji),
      </li>
      <li>
        tylko w zakresie niezbędnym do wykonania usługi, dodatkowych badań
        diagnostycznych , obrony i dochodzenia roszczeń,
      </li>
      <li>
        tworzenia zestawień analiz i statystyk (na potrzeby wewnętrzne
        administratora)
      </li>
      <li>wsparcia obsługi;</li>
    </ul>
    <p>
      <strong
        >Podanie danych osobowych jest dobrowolne,
        <u>jednakże niezbędne w celu realizacji usług weterynaryjnych</u>
      </strong>
      a niepodanie danych w zakresie wymaganym przez Administratora może skutkować
      niewykonaniem usługi. W pozostałych przypadkach opiera się na dobrowolnej zgodzie
      osoby udostępniającej swoje dane osobowe lub przepisach prawa;
    </p>
    <p>
      <strong>Posiada Pani/Pan prawo dostępu do treści swoich danych</strong>
      i ich sprostowania, usunięcia, ograniczenia przetwarzania, prawo do przenoszenia
      danych, wniesienia sprzeciwu wobec przetwarzania, przenoszenia danych a także
      prawo do cofnięcia zgody w dowolnym momencie;
    </p>
    <p>
      <strong>Ma Pani/Pan prawo wniesienia skargi</strong> do Urzędu Ochrony Danych
      Osobowych gdy uzna Pani/Pan, iż przetwarzanie danych osobowych Pani/Pana dotyczących
      narusza przepisy ogólnego rozporządzenia o ochronie danych osobowych z dnia
      27 kwietnia 2016 r.
    </p>
    <p>
      <strong> Dane mogą być udostępniane</strong> przez gabinet REKSIO w celu uzupełnienia
      diagnostyki weterynaryjnej podmiotom upoważnionym na podstawie umowy o przetwarzanie
      danych. Ponadto dane nie będą profilowane i nie będą przetwarzane w celach
      marketingowych.
    </p>
    <p><strong> Okres przechowywania</strong></p>
    <p>
      Dane osobowe będą przetwarzane i przechowywane przez okres adekwatny i nie
      dłuższy od okresów zgodnych z aktualnie obowiązującymi przepisami prawa w
      poszczególnych obszarach przetwarzania danych lub do odwołania przez
      Panią/Pana zgody na ich przetwarzanie, a gdy to nastąpi przez okres
      niezbędny i w zakresie niezbędnym z uwagi na wymogi prawa lub dla
      zabezpieczenia ewentualnych roszczeń. Pani/Pana dane osobowe będą
      przechowywane przez okres niezbędny w leczeniu zwierzęcia, a po
      zakończeniu leczenia maksymalnie do 60 lat.
    </p>

    <p>
      <strong
        >Przepisy prawa obowiązujące przy przetwarzaniu Pani/Pana danych:
      </strong>
    </p>
    <ul>
      <li>
        Rozporządzenie Ministra Rolnictwa i Rozwoju Wsi z dnia 29 września 2011
        w sprawie szczegółowego sposobu prowadzenia ewidencji zakładów
        leczniczych dla zwierząt oraz otrzymywania z niej wypisu.
      </li>
      <li>
        Ustawa z 11 marca 2004 r. o ochronie zdrowia zwierząt oraz zwalczaniu
        chorób zakaźnych zwierząt (tekst jedn.: Dz.U. z 2017 r. poz. 1855)
      </li>
      <li>
        Ustawa o zakładach leczniczych dla zwierząt z dnia 18 grudnia 2003 r.
        (Dz.U. 2004 Nr 11, poz. 95) tj. z dnia 3 lipca 2015 r. (Dz.U. z 2015 r.
        poz. 1047)
      </li>
      <li>
        Ustawa z 6 września 2001 r. – Prawo farmaceutyczne (tekst jedn.: Dz.U. z
        2017 r. poz. 2211)
      </li>
      <li>
        Ustawa z 21 grudnia 1990 r. o zawodzie lekarza weterynarii i izbach
        lekarsko-weterynaryjnych (tekst jedn.: Dz.U. z 2016 r. poz. 1479)
      </li>
    </ul>
  </article>
</Root>
