---
import Root from "../layouts/Root.astro";
import Article from "../components/Article.astro";
---

<Root
  title="Gabinet Weterynaryjny - Reksio - Weterynarz Bielany, Słodowiec - Warszawa"
  description="Gabinet weterynaryjny dla małych zwierząt w dzielnicy Warszawa - Bielany - pomiędzy stacjami metra: Marymont i Słodowiec. Prowadzimy sprzedaż akcesoriów dla zwierząt, karm, żwirków. W dziale Aktualności znajdują się porady lekarza weterynarii dla właścicieli."
>
  <h1>Aktualności</h1>
  <Article title="Zmiany w grafiku - Marzec 2023">
    <p>
      14 marca (WTOREK) gabinet będzie czynny od 10 do 14.
    </p>
    <p>
      W CZWARTKI gabinet czynny od 10 do 15.
    </p>
    <p>Proszę o wcześniejsze zapisy na wizytę. Tel. <a href="tel:535454360">535-454-360</a></p>
  </Article>
  <Article title="Obowiązkowe szczepienia dla kotów przeciwko wściekliźnie">
    <p>Przypominamy, że 31 grudnia 2021 r. Wojewoda Mazowiecki rozporządzeniem nr 49 wprowadził obowiązek na obszarze zagrożonym wścieklizną szczepienia kotów przeciwko wściekliźnie w terminie 30 dni od dnia ukończenia przez kota 3 miesiąca życia, a następnie nie rzadziej niż co 12 miesięcy od dnia ostatniego szczepienia. Od 15 kwietnia 2022 r. obszar zagrożony wścieklizną objął już cały teren m.st. Warszawy.</p>
    <p>Obowiązek szczepienia kotów przeciwko wściekliźnie jest czasowy i obowiązuje do momentu odwołania go przez Wojewodę Mazowieckiego.</p>
    <p>Mieszkańcy m.st. Warszawy powinni spełniać obowiązek wynikający z aktualnych rozporządzeń Wojewody Mazowieckiego regulujących przedmiotową kwestię. Niewypełnienie obowiązku zaszczepienia zwierzęcia jest wykroczeniem, za które właścicielowi grozi mandat karny w wysokości do 500 zł.</p>
  </Article>
  <Article title="Zamówienia">
    <p>
      Istnieje możliwość zamówinia karm poprzez wysłanie SMS na nr tel 535 454
      360. Zamówienia do godziny 10. mogą być zrealizowane w tym samym dniu.
    </p>
  </Article>
  <Article title="Kleszcze">
    <p>
      Aktywność kleszczy trwa od marca do października. Jednak w ostatnich
      latach obserwujemy wydłużanie się tego okresu. Kleszcze spotykane są także
      w środku zimy, gdy temperatura powietrza osiągnie powyżej 5° C. Kleszcze
      mogą być nosicielami wielu groźnych chorób, takich jak: babeszjoza,
      borelioza anaplazmoza, erlichioza, leiszmanioza. W przypadku gdy
      znajdziemy kleszcza, należy go jak najszybciej usunąć ze skóry, a miejsce
      ukłucia koniecznie zdezynfekować.
    </p>
    <p>
      Warto już dziś pomyśleć o zabezpieczeniu zwierząt. W ostatnim czasie
      pojawiło się wiele nowych rozwiązań. Zapraszamy do zapoznania się z
      szeroką
      <a href="pchly-i-kleszcze.html">ofertą preparatów</a> chroniących przed kleszczami
      i oferujemy pomoc w dobraniu najwłaściwszego preparatu dla Państwa zwierząt.
    </p>
  </Article>
  <Article title="Nowe zagrożenie - komary">
    <p>
      W ostatnich latach w Polsce coraz więcej odnotowujemy przypadków
      <strong>Dirofilariozy</strong>. Komary poprzez ukąszenie przenoszą
      mikrofilarie do krwi psów, kotów a czasem ludzi. Mamy do czynienia z dwoma
      gatunkami D. repens - które wędrują do tkanki podskórnej oraz D. immitis -
      które mogą wędrować do płuc i serca. Postać skórna (D.repens)- najczęściej
      przebiega bezobjawowo. Na skórze mogą tworzyć się niebolesne guzki, w
      których znajdują się pasożyty. Postać sercowa ( D.immitis) może powodować
      objawy takie jak: szybkie męczenie się zwierząt, suchy kaszel z krwistą
      wydzieliną, zmniejszony apetyt, chudnięcie, w zaawansowacych stanach
      niewydolność krążenia i zator tętnicy płucnej i prawej komory serca.
    </p>
    <p>
      Obecnie mamy możliwość zapobieganie poprzez stosowanie preparatów
      odstraszających komary lub zabijających postaci larwalne pasożyta.
    </p>
  </Article>
  <Article title="Klauzula informacyjna RODO" link="/aktualnosci/rodo">
    <p>
      <strong>RODO</strong>- Rozporządzenie Parlamentu Europejskiego i Rady (UE)
      2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w
      związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu
      takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o
      ochronie danych). Nadrzędnym celem klauzuli oraz działań informacyjnych
      Administratora Danych Osobowych jest zapewnienie adekwatnego poziomu
      ochrony klientów, w związku z przetwarzaniem ich danych osobowych.
      Przetwarzanie danych osobowych: zgodnie z treścią art. 4 ust. 2 RODO, za
      przetwarzanie danych osobowych należy rozumieć operację lub zestaw
      operacji wykonywanych na danych osobowych lub zestawach danych osobowych w
      sposób zautomatyzowany lub niezautomatyzowany, taką jak zbieranie,
      utrwalanie, organizowanie, porządkowanie, przechowywanie, adaptowanie lub
      modyfikowanie, pobieranie, przeglądanie, wykorzystywanie, ujawnianie
      poprzez przesłanie, rozpowszechnianie lub innego rodzaju udostępnianie,
      dopasowywanie lub łączenie, ograniczanie, usuwanie lub niszczenie.
    </p>
  </Article>
  <Article title="Gazetka">
    <p>
      W Naszym Gabinecie dostępna jest bezpłatna gazetka Cztery Lapy, w której
      znajdą Państwo ciekawe artykuły i aktualności dotyczące zwierząt.
    </p>
    <p>
      <img
        src="/img/news/4lapy.webp"
        width="149"
        height="183"
        alt="gazetka Cztery Lapy"
      />
    </p>
  </Article>
</Root>
