---
import Root from "../layouts/Root.astro";
import Article from "../components/Article.astro";
---

<Root
  title="O nas - Gabinet Weterynaryjny Reksio - Agnieszka Lubowiecka (Posmykiewicz)"
  description="Weterynarz na Bielanach! Gabinet weterynaryjny dla małych zwierząt w dzielnicy Warszawa - Bielany - pomiędzy stacjami metra: Marymont i Słodowiec. Prowadzimy sprzedaż akcesoriów dla zwierząt, karm, żwirków. W dziale Aktualności znajdują się porady lekarza weterynarii dla właścicieli."
>
  <h1>O nas</h1>
  <Article
    title="Gabinet Weterynaryjny Reksio"
    itemtype="http://data-vocabulary.org/Person"
  >
    <p>
      Zapraszamy do gabinetu weterynaryjnego. W trosce o zdrowie naszych
      podopiecznych przygotowaliśmy szeroką ofertę usług dla Państwa
      milusińskich.
    </p>
    <p>
      Co dzień dokładamy starań, aby znaleźli Państwo odpowiedzi na wszelkie
      nurtujące pytania dotyczące opieki, pielęgnacji i dbania o zdrowie
      zwierząt.
    </p>
    <p>
      Nasi lekarze stale podnoszą swoje kwalifikacje uczestnicząc w
      konferencjach, sympozjach, szkoleniach i warsztatach, aby móc zaoferować
      Państwu metody leczenia zgodne z najnowszymi odkryciami medycyny
      weterynaryjnej.
    </p>
    <p>
      Do każdego zwierzaka podchodzimy indywidualnie, dostosowując zabiegi
      pielęgnacyjne i metody leczenia do potrzeb Waszego zwierzęcia.
    </p>
    <p>
      <span itemprop="role">Kierownik</span>iem naszego gabinetu jest <span
        itemprop="title">lekarz weterynarii</span
      >
      <strong
        ><span itemprop="name">Agnieszka Lubowiecka (Posmykiewicz)</span>
      </strong>.
    </p>
    <p>Zapraszamy!</p>
  </Article>
</Root>
