---
---

<a href="/">
  <img src="/img/logo-reksio.svg" alt="logo" width="30.33" height="48" />
  <span>
    <span>
      Gabinet weterynaryjny <strong>Reksio</strong>
    </span>
    <span> lek. wet. Agnieszka Lubowiecka (Posmykiewicz)</span>
  </span>
</a>

<style>
  a {
    @apply flex border-2 border-green rounded-md px-6 py-3 -mb-12 bg-white mr-4;
    box-shadow: 0px 4px 8px -4px rgba(66, 68, 90, 0.5);
  }

  img {
    @apply mr-3;
    height: 48px;
    box-shadow: 0px 5px 5px -5px rgba(66, 68, 90, 1),
      inset 0px -5px 5px -5px rgba(66, 68, 90, 1);
  }

  strong {
    @apply uppercase;
  }

  span {
    @apply block text-center;
    line-height: 1.2;
    font-size: 2.2rem;
  }

  span + span {
    line-height: 1.5;
    font-size: 1.4rem;
  }
</style>
